* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #cccccc;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav>.sidebar-brand a {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav h1 {
  font-family: 'Courier New', Courier, monospace;
  line-height: 92px;
  font-weight: 700px;
  font-size: 77px;
}

.nav h3 {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 20px;
}

.nav button {
  background-color: #1D809F;
  border-radius: 5px;
  border: none;
  padding: 20px 10px;
  transition: all .3s;
}

.nav button a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.nav button:hover {
  cursor: pointer;
  background-color: #16596e;
}

.nav img {
  position: absolute;
}

.nav .bg {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav .tush {
  width: 300px;
  bottom: -200px;
  align-self: center;
  animation: tush 10s ease-in-out infinite;
}

/* desc*/

.desc {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.desc h1 {
  text-align: center;
  margin-bottom: 1vh;
  color: #343a40;
  font-size: 77px;
  font-family: 'Courier New', Courier, monospace;
}

.desc h2 {
  text-align: center;
  margin-bottom: 1vh;
  color: #1D809F;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.desc p {
  font-size: 20px;
}

.desc li {
  font-size: 20px;
  list-style: none;
}

.desc h3 {
  font-size: 25px;
  margin: 2vh 0;
}

.desc button {
  background-color: #343a40;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  transition: .3s;
  align-self: center;
  margin-top: 10vh;
  transition: all .3s;
}

.desc button a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: all .3s;
}

.desc button:hover {
  background-color: #fff;
  cursor: pointer;
}

.desc button:hover a {
  color: #343a40;
}

.portfolio {
  min-height: 100vh;
  background-color: #1D809F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio h1 {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 77px;
  margin-bottom: 5vh;
  margin-top: 1vh;
}

.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

.portfolio a {
  text-decoration: none;
}

.portfolio .card {
  width: 360px;
  height: 380px;
  margin: 5px;
  transition: all .3s;
}

.portfolio .card:hover {
  scale: .9;
  opacity: .5;
  cursor: pointer;
}

.portfolio .card img {
  width: 360px;
  height: 380px;
}


.hire {
  min-height: 78vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.hire h3{
  color: #fff;
  font-size: 24px;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.hire p{
  color: #fff;
  font-size: 20px;
  margin-bottom: 1rem;
}
.hire img {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.hire button {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  margin: 0 5vh;
  width: 240px;
}

.hire a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}

.hire #cv {
  background-color: #373737;
  transition: all .3s;
}

.hire #hire-me { 
  background-color: goldenrod;
  transition: all .3s;
}

.hire #cv:hover {
  background-color: #1D809F;
  cursor: pointer;
}

.hire #hire-me:hover {
  background-color: #969696;
  cursor: pointer;
}


.contact {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a {
  text-decoration: none;
  margin: 0 40px;
}

.contact img {
  width: 40px;
  transition: all .3s;
}

.contact img:hover {
  opacity: .6;
  scale: .8;
}

.copy p {
  font-size: 18px;
  text-align: center;
  color: #1D809F;
}

.up-btn{
  z-index: 2;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: rgba(52, 58, 64, 0.5);
  border-radius: 2px;
  border: none;
  transition: all .3s;
}
.up-btn:hover{
  background: #343a40;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .nav {
    height: 100vh;
  }

  .nav h1 {
    font-size: 60px;
  }

  .nav .tush {
    width: 330px;
    bottom: -240px;
  }

  .desc button {
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .nav h1 {
    font-size: 50px;
  }

  .nav h3 {
    font-size: 20px;
  }

  .nav button {
    padding: 20px 10px;
  }

  .nav button a {
    font-size: 20px;
  }

  .desc h1 {
    font-size: 50px;
  }

  .portfolio h1 {
    font-size: 50px;
  }

  .portfolio .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
  }

  .portfolio .card {
    width: 320px;
    height: 380px;
    margin-bottom: 5px;
  }
}

@media (max-width: 615px) {
  #sidebar-wrapper.active {
    width: 50%;
  }
  .nav {
    height: 100vh;
  }

  .nav h1 {
    font-size: 30px;
  }

  .nav .tush {
    bottom: -220px;
  }

  .desc h1 {
    font-size: 30px;
  }

  .portfolio h1 {
    font-size: 30px;
  }

  .nav h3 {
    font-size: 16px;
  }

  .portfolio .container {
    width: 500px;
  }

  .portfolio .card {
    width: 360px;
    height: 380px;
    margin-bottom: 5px;
    transition: all .3s;
  }
  .hire  button {
    padding: 5px 10px;
    margin: 0 10px;
    width: 150px;
  }

  .hire a {
    font-size: 20px;
  }
  .contact a {
    margin: 0 20px;
  }

  .contact img {
    width: 30px;
  }
}


@media (max-width: 430px) {
  .nav .tush{
    bottom: -270px;
  }
  .desc button {
    margin: 10px 0;
  }

  .portfolio .container {
    width: 320px;
  }

  .hire  button {
    padding: 5px 10px;
    margin: 0 10px;
    width: 150px;
  }

  .hire a {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .nav .tush{
    width: 300px;
    bottom: -250px;
  }
}
@media (max-width: 380px) {
  .nav .tush{
    width: 260px;
    bottom: -250px;
  }
}
@media (max-width: 360px) {
  .nav .tush{
    width: 260px;
    bottom: -260px;
  }
}

@media (max-width: 320px) {
  .nav {
    height: 100vh;
  }

  .nav h1 {
    font-size: 24px;
  }

  .nav button {
    padding: 10px 5px;
  }

  .nav button a {
    font-size: 18px;
  }

  .nav .tush {
    bottom: -280px;
  }

  .portfolio .card img {
    width: 300px;
  }
  .hire  button {
    margin: 0 1px;
  }
}
